<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Server Error Page</title>
    <link rel="stylesheet" href="/styles/error.css">
</head>
<body>
    <h1>Error Page</h1>
    <h2>A server Error has occurred:</h2>
    <h3><%= error %></h3>
</body>
</html>