<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" href="/styles/newsletter.css"
</head>

<body>
    <h1>Newsletter</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <b>Quo modo autem philosophus loquitur?</b> Illorum vero
        ista ipsa quam exilia de virtutis vi! Quam tantam volunt esse, ut beatum per se efficere possit. O magnam vim
        ingenii causamque iustam, cur nova existeret disciplina! Perge porro. Duo Reges: constructio interrete. <a
            href="http://loripsum.net/" target="_blank">Sed haec omittamus;</a> <a href="http://loripsum.net/"
            target="_blank">Ostendit pedes et pectus.</a> <a href="http://loripsum.net/" target="_blank">Negat esse eam,
            inquit, propter se expetendam.</a> Ita similis erit ei finis boni, atque antea fuerat, neque idem tamen; <a
            href="http://loripsum.net/" target="_blank">Quid vero?</a> Varietates autem iniurasque fortunae facile
        veteres philosophorum praeceptis instituta vita superabat. <mark>Aliter homines, aliter philosophos loqui putas
            oportere?</mark> Hoc foedus facere si potuerunt, faciant etiam illud, ut aequitatem, modestiam, virtutes
        omnes per se ipsas gratis diligant. <a href="http://loripsum.net/" target="_blank">Bork</a> Atque etiam ad
        iustitiam colendam, ad tuendas amicitias et reliquas caritates quid natura valeat haec una cognitio potest
        tradere. </p>

    <p>Sit ista in Graecorum levitate perversitas, qui maledictis insectantur eos, a quibus de veritate dissentiunt.
        Quare si potest esse beatus is, qui est in asperis reiciendisque rebus, potest is quoque esse. Quae enim adhuc
        protulisti, popularia sunt, ego autem a te elegantiora desidero. Quocirca intellegi necesse est in ipsis rebus,
        quae discuntur et cognoscuntur, invitamenta inesse, quibus ad discendum cognoscendumque moveamur. Suam denique
        cuique naturam esse ad vivendum ducem. Quando enim Socrates, qui parens philosophiae iure dici potest, quicquam
        tale fecit? Ex quo intellegitur nec intemperantiam propter se esse fugiendam temperantiamque expetendam, non
        quia voluptates fugiat, sed quia maiores consequatur. Cum vero paulum processerunt, lusionibus vel laboriosis
        delectantur, ut ne verberibus quidem deterreri possint, eaque cupiditas agendi aliquid adolescit una cum
        aetatibus. </p>

    <p><a href="http://loripsum.net/" target="_blank">Certe non potest.</a> Dicam, inquam, et quidem discendi causa
        magis, quam quo te aut Epicurum reprehensum velim. <a href="http://loripsum.net/" target="_blank">Quonam,
            inquit, modo?</a> Ne tum quidem te respicies et cogitabis sibi quemque natum esse et suis voluptatibus? Est
        enim effectrix multarum et magnarum voluptatum. Negat enim tenuissimo victu, id est contemptissimis escis et
        potionibus, minorem voluptatem percipi quam rebus exquisitissimis ad epulandum. Iubet igitur nos Pythius Apollo
        noscere nosmet ipsos. Praetereo multos, in bis doctum hominem et suavem, Hieronymum, quem iam cur Peripateticum
        appellem nescio. Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri. Bonum integritas corporis:
        misera debilitas. </p>

    <p>Nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; <i>Sed ad bona praeterita redeamus.</i>
        Nam illud quidem adduci vix possum, ut ea, quae senserit ille, tibi non vera videantur. In omni enim arte vel
        studio vel quavis scientia vel in ipsa virtute optimum quidque rarissimum est. Ut ei, qui iucunde vixerit annos
        decem, si aeque vita iucunda menstrua addatur, quia momentum aliquod habeat ad iucundum accessio, bonum sit; Nam
        illud vehementer repugnat, eundem beatum esse et multis malis oppressum. Quod quidem iam fit etiam in Academia.
        <mark>Cyrenaici quidem non recusant;</mark> Rhetorice igitur, inquam, nos mavis quam dialectice disputare? </p>

    <p>Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Nihilo magis. Immo sit sane nihil melius,
        inquam-nondum enim id quaero-, num propterea idem voluptas est, quod, ut ita dicam, indolentia? Polemoni et iam
        ante Aristoteli ea prima visa sunt, quae paulo ante dixi. Deque his rebus satis multa in nostris de re publica
        libris sunt dicta a Laelio. Non est ista, inquam, Piso, magna dissensio. Primum cur ista res digna odio est,
        nisi quod est turpis? Non elogia monimentorum id significant, velut hoc ad portam: Hunc unum plurimae
        consentiunt gentes populi primarium fuisse virum. Incommoda autem et commoda-ita enim estmata et dustmata
        appello-communia esse voluerunt, paria noluerunt. An eum discere ea mavis, quae cum plane perdidiceriti nihil
        sciat? </p>

    <p>Quo plebiscito decreta a senatu est consuli quaestio Cn. Qui autem diffidet perpetuitati bonorum suorum, timeat
        necesse est, ne aliquando amissis illis sit miser. Quod enim dissolutum sit, id esse sine sensu, quod autem sine
        sensu sit, id nihil ad nos pertinere omnino. <i>In schola desinis.</i> Sed quot homines, tot sententiae; Quis
        est enim, in quo sit cupiditas, quin recte cupidus dici possit? Licet hic rursus ea commemores, quae optimis
        verbis ab Epicuro de laude amicitiae dicta sunt. An vero, inquit, quisquam potest probare, quod perceptfum,
        quod. <i>Tum mihi Piso: Quid ergo?</i> Utrum enim sit voluptas in iis rebus, quas primas secundum naturam esse
        diximus, necne sit ad id, quod agimus, nihil interest. Tu vero, inquam, ducas licet, si sequetur; Vide, quantum,
        inquam, fallare, Torquate. </p>

    <p>Alterum significari idem, ut si diceretur, officia media omnia aut pleraque servantem vivere. Aut etiam, ut
        vestitum, sic sententiam habeas aliam domesticam, aliam forensem, ut in fronte ostentatio sit, intus veritas
        occultetur? Sed est forma eius disciplinae, sicut fere ceterarum, triplex: una pars est naturae, disserendi
        altera, vivendi tertia. Aliter enim explicari, quod quaeritur, non potest. Non quaero, quid dicat, sed quid
        convenienter possit rationi et sententiae suae dicere. <i>Ea possunt paria non esse.</i> </p>

    <p><a href="http://loripsum.net/" target="_blank">Nunc haec primum fortasse audientis servire debemus.</a> Crasso,
        quem semel ait in vita risisse Lucilius, non contigit, ut ea re minus agelastoj ut ait idem, vocaretur.
        <i>Bork</i> Hic dolor populi Romani duce et auctore Bruto causa civitati libertatis fuit, ob eiusque mulieris
        memoriam primo anno et vir et pater eius consul est factus. <i>Bestiarum vero nullum iudicium puto.</i> Sed
        venio ad inconstantiae crimen, ne saepius dicas me aberrare; Potius inflammat, ut coercendi magis quam dedocendi
        esse videantur. <a href="http://loripsum.net/" target="_blank">Nihilo magis.</a> Hoc tu nunc in illo probas.
        Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum licebit. Antiquorum autem sententiam Antiochus
        noster mihi videtur persequi diligentissime, quam eandem Aristoteli fuisse et Polemonis docet. Cuius ad naturam
        apta ratio vera illa et summa lex a philosophis dicitur. Ne amores quidem sanctos a sapiente alienos esse
        arbitrantur. Beatus sibi videtur esse moriens. <b>Bestiarum vero nullum iudicium puto.</b> Suam denique cuique
        naturam esse ad vivendum ducem. </p>

    <p>Quid enim necesse est, tamquam meretricem in matronarum coetum, sic voluptatem in virtutum concilium adducere?
        Quod dicit Epicurus etiam de voluptate, quae minime sint voluptates, eas obscurari saepe et obrui. Epicurei num
        desistunt de isdem, de quibus et ab Epicuro scriptum est et ab antiquis, ad arbitrium suum scribere? Quae enim
        adhuc protulisti, popularia sunt, ego autem a te elegantiora desidero. </p>

    <p>Familiares nostros, credo, Sironem dicis et Philodemum, cum optimos viros, tum homines doctissimos. Apparet
        statim, quae sint officia, quae actiones. Praeterea sublata cognitione et scientia tollitur omnis ratio et vitae
        degendae et rerum gerendarum. Nunc dicam de voluptate, nihil scilicet novi, ea tamen, quae te ipsum probaturum
        esse confidam. Bonum appello quicquid secundurn naturam est, quod contra malum, nec ego solus, sed tu etiam,
        Chrysippe, in foro, domi; <b>Bonum patria: miserum exilium.</b> Nec enim absolvi beata vita sapientis neque ad
        exitum perduci poterit, si prima quaeque bene ab eo consulta atque facta ipsius oblivione obruentur. Quod cum
        ita sit, perspicuum est omnis rectas res atque laudabilis eo referri, ut cum voluptate vivatur. <i>Collige
            omnia, quae soletis: Praesidium amicorum.</i> Bonum ipsum etiam quid esset, fortasse, si opus fuisset,
        definisses aut quod esset natura adpetendum aut quod prodesset aut quod iuvaret aut quod liberet modo. Odium
        autem et invidiam facile vitabis. Itaque et manendi in vita et migrandi ratio omnis iis rebus, quas supra dixi,
        metienda. Tum ego: Non mehercule, inquam, soleo temere contra Stoicos, non quo illis admodum assentiar, sed
        pudore impedior; Facillimum id quidem est, inquam. </p>
</body>

</html>